body{
    background-color: black;
}
div{
   
        margin: 0 auto; 
        position:relative;
        width:  1200px;
        min-height: 100px;  
        overflow: visible;
        padding: auto;

        color: #000000;
        border:  10px double #000000;
      
      
}
