*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
.texto{
color:white;
text-align:justify ;
}
h1{
    text-align: center;
}
header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(2, 92, 17);
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.gallery-items{
    width: 340px;
    height: 340px;
    border: 5px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover{
    transform: scale(1.3);
}



footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-style: italic;
    border-top: 100px solid;
    background-color: rgb(255, 255, 255);
}